.table--address {
    &__name {
      display: flex;
      align-items: center;
      justify-content: space-between;
        h3 {
            font-family: $supreme, sans-serif;
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
            letter-spacing: -.004em;
            text-align: left;
            color: $lightGreyMain;
            margin: 0 0 0 24px;

            @media screen and (min-width: 768px) {
                margin: 0 0 0 32px;
            }
        }
      & p {
        font-family: $supreme, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        margin: 0 22px 0 0;
        color: $lightGrey5;

        @media screen and (min-width: 768px) {
          display: none;
        }
        & span {
          color: $lightGreyMain;
        }
      }
    }

    &__row {
        border-bottom: 2px solid $lightBG3;
        display: flex;
        flex-direction: column;
        padding: 20px 28px;
        @media screen and (min-width:768px) {
            padding: 20px 40px 20px 40px !important;
        }
        & div {
            & p, span, a {
                font-family: $supreme;
            }
        }
        &-title {
            display: flex;
            margin: 0 0 4px 0;
            font-family: supreme,sans-serif;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: .015em;
            text-align: left;
            text-transform: uppercase;
            & span {
                display: flex;
                font-size: 13px !important;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: 0.015em;
                text-align: left;
                text-transform: uppercase;
                color: $lightGrey5;
                & p {
                    color: $lightGreyMain;
                    font-size: 13px !important;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                }
            }
            @media screen and (max-width: 768px) {
                justify-content: space-between;
            }
        }
        & .hash {
            // grid-area: _hash;
            width: 100%;
            &__body {
                display: grid;
                grid-template-areas:
                "_p _img";
                grid-template-columns: 1fr 48px;
                align-items: center;
                & p {
                    grid-area: _p;
                    word-break: break-all;
                }
                & .download_link {
                    text-align: end;
                    grid-area: _img;
                }

                @media screen and (min-width:768px) {
                    display: flex;
                }
            }
        }

        & .balance, .tokens {
            // grid-area: _balance;
            width: 100%;
            &__body {
                display: flex;
                justify-content: space-between;
                @media (max-width: 768px) {
                    flex-direction: column;
                    width: 100%;
                    justify-content: center;
                }
                &-blocks {
                    width: 85%;
                    display: flex;
                    flex-wrap: wrap;
                    line-height: 24px;
                    height: 24px;
                    overflow: hidden;
                    @media (max-width: 768px) {
                        width: 100%;
                    }
                }
                &-block {
                    display: flex;
                    font-size: 14px;
                    margin-right: 39px;
                    @media (max-width: 768px) {
                        margin: 0;
                        width: 100%;
                        justify-content: center;
                    }
                    &-number {
                        font-weight: 700;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 60px;
                        text-align: right;
                    }

                    & a {
                        text-decoration: none;
                        color: $lightBlue5;
                    }
                }
                &-all {
                    @media (max-width: 768px) {
                        display: flex;
                        justify-content: center;
                    }
                    & button {
                        background: transparent;
                        border: none;
                        display: flex;
                        align-items: center;
                        outline: none;
                        color: $lightPink3;
                        font-family: $supreme, sans-serif;
                        font-size: 16px;
                        font-weight: 500;
                        cursor: pointer;
                        &:hover {
                          color: $lightPink5;
                        }
                        & img {
                            display: flex;
                            transition: all .2s;
                        }
                    }
                }
            }
        }
    }

    & .value {
        grid-area: _value;

        & div {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            & span {
                margin: 0 5px 0 0;
            }
        }

        @media screen and (min-width:768px) {
            padding: 20px 40px 20px 0;
            border: none;
        }
    }


    @media screen and (min-width:768px) {
        // grid-template-areas:
        // "_hash _hash _hash _hash _hash _hash _hash _hash _hash"
        // "_balance"
        // "_status . _age _age . _value _value";
        // // grid-template-columns: minmax(69px, 116px) minmax(62px, 104px) minmax(111px, 180px) minmax(62px, 104px) minmax(65px, 110px) minmax(160px, 252px) minmax(175px, 274px);
        // grid-template-columns: 116px minmax(62px, 104px) minmax(111px, 180px) minmax(62px, 104px) minmax(65px, 110px) 113px minmax(175px, 274px);
    }
    @media screen and (min-width:1024px) {
        // grid-template-columns: 116px minmax(62px, 104px) minmax(111px, 180px) minmax(62px, 142px) minmax(65px, 110px) 113px minmax(175px, 274px);
    }
}

.visible {
    height: auto !important;
}

.open {
    transform: rotate(180deg);
}
