.mhfc {
  min-height: fit-content;
}
.mb-0 {
  margin-bottom: 0 !important;
}

main {
  max-width: 1204px;
  min-height: calc(100vh - 240px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  & .table {
    margin: 40px 23px;

    background: $trueWhite;
    box-shadow: 0px 10px 50px rgba(15, 42, 116, 0.08);
    border-radius: 8px;

    max-width: 1204px;
    &__links {
      display: flex;
      color: $lightPink3;
      margin: 0 0 25px 32px;
      & a {
        text-decoration: none;
        color: $lightPink3;
        font-family: $supreme;
        font-size: 16px;
      }

      & .activeLink {
        color: $lightPink3;
        font-weight: 500;
      }
    }
    &__name {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &--dffd {
        align-items: start;
        flex-direction: column;

        & p {
          margin: 8px 20px 0 25px;
          font-family: $supreme;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0em;
          @media screen and (min-width: 768px) {
            text-align: right;
            margin: 0 32px 0 0;
            max-width: 420px;
          }
        }
        @media screen and (min-width: 768px) {
          flex-direction: row;
        }
      }
      & h3 {
        margin: 0 0 0 24px;
        padding: 0;

        font-family: $supreme;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: -0.004em;
        text-align: left;

        color: $lightGreyMain;

        @media screen and (min-width: 768px) {
          margin: 0 0 0 32px;
        }
      }
      .m0 {
        margin: 0 !important;
      }
    }
    &__header {
      display: grid;
      align-items: center;

      padding: 16px 28px;

      background: $lightBG3;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      font-family: $supreme;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.015em;
      text-align: left;
      text-transform: uppercase;

      color: $lightGrey5;
      &--transaction {
        & span:nth-child(1) {
          grid-area: _hash;
        }
        & span:nth-child(2) {
          grid-area: _status;
          margin: 0 0 0 19px;
        }
        & span:nth-child(3) {
          grid-area: _age;
        }
        & span:nth-child(4) {
          grid-area: _from;
        }
        & span:nth-child(5) {
          grid-area: _to;
        }
        & span:nth-child(6) {
          grid-area: _value;
        }
        grid-template-areas: "_hash . _status _age _from . _to . _value";
        grid-template-columns: minmax(90px, 170px) minmax(16px, 63px) minmax(
            110px,
            151px
          ) minmax(85px, 117px) minmax(73px, 165px) minmax(31px, 62px) minmax(
            75px,
            169px
          ) minmax(19px, 49px) 149px;
      }
      @media screen and (max-width: 767px) {
        display: none;
      }
      @media screen and (min-width: 1024px) {
        padding: 16px 40px;
      }
    }
    &__row {
      border-bottom: 2px solid $lightBG3;

      display: grid;

      // @media screen and (min-width:768px) {
      //   display: none;
      // }
      @media screen and (min-width: 1024px) {
        main .table__row {
          padding: 20px 40px;
        }
      }
      & p {
        margin: 8px 0 0 24px;
        & a {
          color: $lightBlue5;
          text-decoration: none;
        }
      }
    }
    &__header {
      display: grid;
      align-items: center;

      padding: 16px 28px;

      background: $lightBG3;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      font-family: $supreme;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.015em;
      text-align: left;
      text-transform: uppercase;

      color: $lightGrey5;
      &--transaction {
        & span:nth-child(1) {
          grid-area: _hash;
        }
        & span:nth-child(2) {
          grid-area: _status;
          margin: 0 0 0 19px;
        }
        & span:nth-child(3) {
          grid-area: _age;
        }
        & span:nth-child(4) {
          grid-area: _from;
        }
        & span:nth-child(5) {
          grid-area: _to;
        }
        & span:nth-child(6) {
          grid-area: _value;
        }
        grid-template-areas: "_hash . _status _age _from . _to . _value";
        grid-template-columns:
          minmax(90px, 170px) minmax(16px, 63px) minmax(110px, 151px)
          minmax(85px, 117px) minmax(73px, 165px) minmax(31px, 62px) minmax(
            75px,
            169px
          )
          minmax(19px, 49px) 149px;
      }
      @media screen and (max-width: 767px) {
        display: none;
      }
      @media screen and (min-width: 1024px) {
        padding: 16px 40px;
      }
    }
    &__row {
      border-bottom: 2px solid $lightBG3;

      display: grid;

      margin: 0;
      // padding: 22px 28px 0 28px;
      padding: 22px 28px;

      font-family: $supreme;
      font-size: 14px;
      font-style: normal;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      color: $lightGreyMain;
      box-sizing: content-box;

      & a:hover {
        color: $lightBlue7 !important; //Мб стоит переделать, но работает и так
      }
      &--transaction {
        grid-template-areas:
          "_value ."
          "_age _status"
          "_hash _hash";
        grid-template-columns: 2fr 1fr;
        @media screen and (min-width: 768px) {
          grid-template-areas: "_hash . _status _age _from _arrow _to . _value";
          grid-template-columns:
            minmax(90px, 170px) minmax(16px, 63px) minmax(110px, 151px)
            minmax(85px, 117px) minmax(73px, 165px) minmax(31px, 62px)
            minmax(75px, 169px) minmax(19px, 49px) 149px;
        }
      }
      &:last-child {
        padding-bottom: 22px;
        border: none;
      }
      & p {
        margin: 0 0 10px 0;
        padding: 0;
      }

      & .value {
        grid-area: _value;

        font-weight: 700;

        & a {
          font-weight: 400;

          color: $lightBlue5;
          text-decoration: none;
        }
        @media screen and (min-width: 768px) {
          margin: 0;
        }
      }
      & .age {
        grid-area: _age;

        font-weight: 400;
        @media screen and (min-width: 768px) {
          margin: 0;
        }
      }
      & .status {
        grid-area: _status;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        font-weight: 400;
        & img {
          margin: 0 8px 0 0;
          padding: 0;
        }
        @media screen and (min-width: 768px) {
          margin: 0;
        }
      }
      & .hash {
        grid-area: _hash;

        display: flex;

        font-weight: 400;

        color: $lightGrey5;

        & span {
          @media screen and (min-width: 768px) {
            display: none;
          }
        }
        & p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        & a {
          margin: 0 0 0 4px;
          color: $lightBlue5;
          text-decoration: none;
          @media screen and (min-width: 768px) {
            margin: 0;
          }
        }
      }
      & .from {
        grid-area: _from;
        display: flex;

        margin: 0;

        display: flex;

        & a {
          margin: 0 0 0 4px;
          color: $lightBlue5;
          text-decoration: none;
        }

        @media screen and (max-width: 767px) {
          display: none;
        }
      }
      & .arrow {
        grid-area: _arrow;

        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 767px) {
          display: none;
        }
      }
      & .to {
        grid-area: _to;
        display: flex;

        & a {
          margin: 0 0 0 4px;
          color: $lightBlue5;
          text-decoration: none;
        }

        @media screen and (max-width: 767px) {
          display: none;
        }
      }

      & .name {
        grid-area: _name;
      }
      & .emission {
        grid-area: _emission;
        & p {
          @media screen and (min-width: 768px) {
            text-align: right;
          }
        }
      }
      & .transactions {
        grid-area: _transactions;
        & p {
          @media screen and (min-width: 768px) {
            text-align: right;
          }
        }
      }
      & .owner {
        grid-area: _owner;

        & p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &::-webkit-scrollbar {
          width: 1px;
        }
        body::-webkit-scrollbar-thumb {
          background: transparent;
        }
      }
      & .site {
        grid-area: _site;

        & p {
          display: flex;
          align-items: center;
          overflow: auto;

          & .download {
            margin: 0 0 0 6px;
          }
          &::-webkit-scrollbar {
            width: 1px;
          }
          body::-webkit-scrollbar-thumb {
            background: transparent;
          }
        }
        //@media screen and (max-width: 767px) {
        //  display: none;
        //}
      }

      & div a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      @media screen and (min-width: 768px) {
        border: none;
        align-items: baseline;
        height: 20px;
      }
      @media screen and (min-width: 1024px) {
        // padding: 20px 40px 0;
        padding: 20px 40px;
      }
    }
    &__link {
      margin: 0 auto 60px;
      & a {
        text-decoration: none;
        color: red;

        display: flex;
        align-items: center;
        justify-content: center;
        & img {
          width: 16px;
          height: 16px;
          margin: 0 0 0 7px;
        }
        & picture {
          width: 16px;
          height: 16px;
          display: flex;
          align-items: flex-end;
        }
        &:hover {
          color: $lightPink5;
        }
      }

      &--hidden {
        display: block !important;
        @media screen and (max-width: 767px) {
          display: none !important;
        }
      }
      @media screen and (min-width: 768px) {
        display: none;
        margin: 0 39px 0 0;
      }
    }
    @media screen and (min-width: 768px) {
      margin: 20px 32px;
    }
    @media screen and (min-width: 768px) {
      margin: 20px 32px 95px;
    }
    @media screen and (min-width: 1024px) {
      margin: 20px 32px 123px;
    }
  }
}
.prompt {
  display: none;
}
.qwe {
  position: relative;
}
.onHoverAddPrompt:hover {
  border-radius: 5px;
  background: $lightBG3;
}
.qwe .prompt{
  display: flex;
  position: absolute;
  top: -18px;
  left: 0;
  padding: 9px 11px;
  color: $lightGrey7;
  background: $trueWhite;
  box-shadow: 0 4px 16px rgba(15, 42, 116, 0.14);
  border-radius: 2px;
  font-family: "supreme",sans-serif;
  font-size: 8px;
  font-style: normal;
  line-height: 0;
  letter-spacing: 0;
  &::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid transparent;
    border-top: 8px solid white;
    box-shadow: 0 4px 16px rgba(15, 42, 116, 0.14);
  }
}
