.pagination {
  padding: 13px 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border-top: 2px solid $lightBG3;

  & a {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: $lightGrey7;

    font-family: $supreme;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

    margin: 0 10px;

    &:hover {
      color: $lightPink5;
    }
    &:last-child {
      margin: 0;
    }
  }

  & .hexagon {
    position: relative;
    width: 26px;
    height: 19px;
    color: $lightPink5;
    font-weight: 700;
    background-color: $lightPink1;

    margin: 0 2px !important;
    padding: 0 7px;
  }

  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
  }

  .hexagon:before {
    bottom: 100%;
    border-bottom: 7.51px solid $lightPink1;
  }

  .hexagon:after {
    top: 100%;
    width: 0;
    border-top: 7.51px solid $lightPink1;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}
