.hexagon {
  position: relative;
  width: 24px;
  height: 19px !important;
  color: $lightPink5 !important;
  font-weight: 700 !important;
  background-color: $lightPink1;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 7.51px solid $lightPink1;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 7.51px solid $lightPink1;
}
//
//@media screen and (max-width: 767px) {
//  display: none;
//}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid $lightBG3;
  padding: 13px 0;

  &__link {
    cursor: pointer;

    width: 24px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;

    text-decoration: none;
    color: $lightGrey7;

    font-family: $supreme;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

    &:hover {
      color: $lightPink5;
    }
  }
}

.img-svg-grey path {
  stroke: $lightGrey5 !important;
}

.img-svg-link-grey:hover .img-svg-grey path{
  stroke: $lightPink5 !important;
}
