$supreme: 'supreme', sans-serif;

$trueBlack: #000000;
$trueWhite: #ffffff;

$complited: #E1FFEE;
$pending: #FFF6E4;
$declined: #FFECEC;
$greyBlue: #F9F9F9;

$lightGreyMain: #202633;
$lightBlue5: #3162C4;
$lightGrey5: #828A99;
$lightPink3: #FA7DBD;
$lightGreen: #3FCC7C;
$lightPink5: #E3358E;
$lightBG3: #EDF3FF;
$lightGrey3: #B9BEC7;
$lightPink1: #FEE7F3;
$lightGrey7: #505766;