$supreme: 'supreme', sans-serif;

$trueBlack: #000000;
$trueWhite: #ffffff;

$complited: #E1FFEE;
$pending: #FFF6E4;
$declined: #FFECEC;
$greyBlue: #F9F9F9;

$lightGreyMain: #202633;

$lightPink1: #FEE7F3;
$lightPink3: #FA7DBD;
$lightPink5: #E3358E;

$lightBlue5: #3162C4;
$lightBlue7: #1F4495;

$lightGrey3: #B9BEC7;
$lightGrey5: #828A99;
$lightGrey7: #505766;

$lightGreen: #3FCC7C;

$lightBG3: #EDF3FF;
